<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div id="video-grid"></div>
  <script>(()=>{const e=io("/"),o=document.getElementById("video-grid"),n=new Peer(void 0,{host:"/",port:"3001"}),t=document.createElement("video");t.muted=!0;const d={};function c(e,n){e.srcObject=n,e.addEventListener("loadedmetadata",(()=>{e.play()})),o.append(e)}navigator.mediaDevices.getUserMedia({video:!0,audio:!0}).then((o=>{c(t,o),n.on("call",(e=>{e.answer(o);const n=document.createElement("video");e.on("stream",(e=>{c(n,e)}))})),e.on("user-connected",(e=>{!function(e,o){const t=n.call(e,o),a=document.createElement("video");t.on("stream",(e=>{c(a,e)})),t.on("close",(()=>{a.remove()})),d[e]=t}(e,o)}))})),e.on("user-disconnected",(e=>{d[e]&&d[e].close()})),n.on("open",(o=>{e.emit("join-room",ROOM_ID,o)}))})();</script>
</body>
</html>
